body {
  margin: 0;
}

.head {
  width: 100%;
  height: 10%;
  font-size: 32.5px;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 155px;
  color: black;
  box-shadow: 10px 10px 5px grey;
}

#generate{
  color: black;
}

.output{
  width: 40%;
  height: 100%;
  padding: 15px;
  position: absolute;
  top: 20px;
  float: right;
}

.output_text{
  text-align: center;
  font-size: 20px;
}
